.not-found-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: DM Sans;
}
.not-found-heading,
.not-found-para {
  margin: 10px 0;
}
.not-found-para {
  color: #475569;
}
.not-found-btn {
  margin-top: 15px;
  color: #ffffff;
  background-color: var(--website-clr);
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 15px;
}
