.home-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carousel-container {
  width: 95vw;
  max-width: var(--content-max-width);
  margin-top: 30px;
}
.home-heading-container {
  width: 95vw;
  max-width: var(--content-max-width);
  border-bottom: 1px solid #cbd2d9;
}
.home-heading {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  margin: 0;
  margin-top: 50px;
  color: #183b56;
}
.home-para-container,
.home-sort-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: DM Sans;
  font-size: 16px;
}
.home-para-container {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #64748b;
  margin: 0;

  position: relative;
}
.home-sort-icon {
  margin-right: 8px;
}
.home-sort-para {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.sort-details-container {
  width: 150px;
  background: #ffffff;
  border: 1px solid #cbd5e1;
  position: absolute;
  top: 50px;
  right: 0;
  padding: 7px 10px;
  border-radius: 8px;
  font-size: 14px;
}

.hide {
  display: none;
}
.sort-item-container {
  border: none;
  height: 35px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
  cursor: pointer;
  background-color: transparent;
  padding: 8px 8px;
  border-radius: 10px;
}
.sort-item-container-active {
  background-color: #f1f5f9;
}
.sort-item {
  margin: 0;
}
.home-restaurants-container {
  width: 95vw;
  max-width: var(--content-max-width);
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
}
.home-pagination-container {
  display: flex;
  align-items: center;
}
.pagination-icon-btn {
  background-color: transparent;
  /* height: 15px;
  width: 15px; */
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
}
.pagination-icons {
  font-size: 16px;
}
