@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Stick+No+Bills:wght@200;300;400;500;600;700;800&display=swap');

.header-navbar {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  width: 95vw;
  max-width: var(--content-max-width);
}
.header-main,
.header-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-logo-container {
  display: flex;
}
.header-website-name {
  font-family: DM Sans;
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: var(--website-clr);
  margin-left: 25px;
}
.header-home-link,
.header-cart-link {
  margin: 0;
  margin-left: 45px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  color: #334155;
}
.active {
  color: var(--website-clr);
}
.nav-link {
  text-decoration: none;
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;

  font-family: 'Stick No Bills', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 26px;
  color: #334155;
  /* color: darkviolet; */
  letter-spacing: 1px;
}
.logout-button {
  background-color: var(--website-clr);
  border-radius: 8px;
  padding: 8px 16px;
  margin-left: 45px;
  border: none;
  outline: none;
  color: #ffffff;
  cursor: pointer;
}
