* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0.6em;
}
::-webkit-scrollbar-track {
  background-image: linear-gradient(#ffffff 99%, #0f172a);
  /* border-left: 2px solid var(--website-clr); */
}
::-webkit-scrollbar-thumb {
  background-color: var(--website-clr);
  border-radius: 10px;
  /* border-right: 3px solid #ffffff; */
}
body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --website-clr: #f7931e;
  --content-max-width: 1200px;
}
